// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  //background-image: url('../img/header-bg.jpg');
  //background-repeat: no-repeat;
  background-color: rgba(0,0,0, .7);
  // background-attachment: scroll;
  // background-position: center center;
  overflow: hidden;
  @include background-cover;
  .fullscreenVid{
    position:fixed;
    left:0%;
    min-width: 100%;
    min-height: 100%;
    width:auto;
    height:auto;
    z-index: -100;
  }
  .container.titleText {
    //position:absolute;
    margin-top:-60px;
    top:0px;
    left:0px;
    z-index: 100;
  }
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
       
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}


